<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.ManPowerMapper">

    <resultMap id="ManPowerMap" type="com.edu.pojo.Manpower">
        <id property="maId" column="maId"/>
        <result property="maLicati" column="maLicati"/>
        <result property="maApplicant" column="maApplicant"/>
        <result property="maInfo" column="maInfo"/>
        <result property="maTel" column="maTel"/>
        <result property="maState" column="maState"/>
    </resultMap>

    <sql id="ManPower_colums">
        maId,
        maLicati,
        maApplicant,
        maInfo,
        maTel,
        maState
    </sql>

    <!--查询所有的人力申请-->
    <select id="findAllManPower" resultMap="ManPowerMap">
        select
        <include refid="ManPower_colums"/>
        from
        manpower
    </select>

    <!--添加人力申请-->
    <insert id="saveManPower" parameterType="Manpower">
        insert
        into
        manpower
        values(default,#{maLicati},#{maApplicant},#{maInfo},#{maTel},#{maState})
    </insert>

    <!--根据对象id查询对应的人力申请-->
    <select id="selectManPowerById" parameterType="int" resultType="Manpower">
        select
        <include refid="ManPower_colums"/>
        from
        manpower
        <where>
            maId=#{maId}
        </where>
    </select>

    <!--修改对象的人力申请-->
    <update id="updateManPower" parameterType="map">
        update
        manpower
        <set>
            <if test="maLicati!=null">
                maLicati=#{maLicati},
            </if>
            <if test="maApplicant!=null">
                maApplicant=#{maApplicant},
            </if>
            <if test="maInfo!=null">
                maInfo=#{maInfo},
            </if>
            <if test="maTel!=null">
                maTel=#{maTel},
            </if>
            <if test="maState!=null">
                maState=#{maState}
            </if>
        </set>
        <where>
            maId=#{maId}
        </where>
    </update>

    <!--删除所选对象的人力申请-->
    <delete id="deleteManPower" parameterType="list">
        delete
        from
        manpower
        where
        maId
        in
        <foreach collection="list" item="ids" separator="," open="(" close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>