<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.PayMapper">

    <resultMap id="PayMap" type="com.edu.pojo.Pay">
        <id property="paId" column="paId"/>
        <result property="paName" column="paName"/>
        <result property="paMonth" column="paMonth"/>
        <result property="paSubwa" column="paSubwa"/>
        <result property="paSubtra" column="paSubtra"/>
        <result property="paSubtel" column="paSubtel"/>
        <result property="paSubre" column="paSubre"/>
        <result property="paBapay" column="paBapay"/>
        <result property="paAttpay" column="paAttpay"/>
        <result property="paTotal" column="paTotal"/>
    </resultMap>

    <sql id="Pay_colums">
        paId,
        paName,
        paMonth,
        paSubwa,
        paSubtra,
        paSubtel,
        paSubre,
        paBapay,
        paAttpay,
        paTotal
    </sql>

    <!--查询所有的薪资-->
    <select id="findAllPay" resultMap="PayMap">
        select
        <include refid="Pay_colums"/>
        from
        pay
    </select>

    <!--添加薪资-->
    <insert id="savePay" parameterType="Pay">
        insert
        into
        pay
        values(default,#{paName},#{paMonth},#{paSubwa},#{paSubtra},#{paSubtel},#{paSubre},#{paBapay},#{paAttpay},#{paTotal})
    </insert>

    <!--根据id查询对象薪资-->
    <select id="selectPayById" parameterType="int" resultType="Pay">
        select
        <include refid="Pay_colums"/>
        from
        pay
        <where>
            paId=#{paId}
        </where>
    </select>

    <!--修改人员薪资-->
    <update id="updatePay" parameterType="map">
        update
        pay
        <set>
            <if test="paName!=null">
                paName=#{paName},
            </if>
            <if test="paMonth!=null">
                paMonth=#{paMonth},
            </if>
            <if test="paSubwa!=null">
                paSubwa=#{paSubwa},
            </if>
            <if test="paSubtra!=null">
                paSubtra=#{paSubtra},
            </if>
            <if test="paSubtel!=null">
                paSubtel=#{paSubtel},
            </if>
            <if test="paSubre!=null">
                paSubre=#{paSubre},
            </if>
            <if test="paBapay!=null">
                paBapay=#{paBapay},
            </if>
            <if test="paAttpay!=null">
                paAttpay=#{paAttpay},
            </if>
            <if test="paTotal!=null">
                paTotal=#{paTotal}
            </if>
        </set>
        <where>
            paId=#{paId}
        </where>
    </update>

    <!--删除所选对象薪资-->
    <delete id="deletePay" parameterType="list">
        delete
        from
        pay
        where
        paId
        in
        <foreach collection="list" item="ids" separator="," open="(" close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>