<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.PerformanceMapper">

    <resultMap id="PerformanceMap" type="com.edu.pojo.Performance">
        <id property="peId" column="peId"/>
        <result property="peName" column="peName"/>
        <result property="peCourse" column="peCourse"/>
        <result property="peAchievement" column="peAchievement"/>
        <result property="peInfo" column="peInfo"/>
        <result property="peState" column="peState"/>
    </resultMap>
    <sql id="Performance_colums">
        peId,
        peName,
        peCourse,
        peAchievement,
        peInfo,
        peState
    </sql>

    <!--查询所有学生的成绩-->
    <select id="findAllPerformance" resultMap="PerformanceMap">
        select
        <include refid="Performance_colums"/>
        from
        performance
    </select>

    <!--添加学生成绩-->
    <insert id="savePerformance" parameterType="Performance">
        insert
        into
        performance
        values(default,#{peName},#{peCourse},#{peAchievement},#{peInfo},#{peState})
    </insert>

    <!--根据id查询学生成绩-->
    <select id="selectPerformanceById" parameterType="int" resultType="Performance">
        select
        <include refid="Performance_colums"/>
        from
        performance
        <where>
            peId=#{peId}
        </where>
    </select>

    <!--修改学生成绩-->
    <update id="updatePerformance" parameterType="map">
        update
        performance
        <set>
            <if test="peName!=null">
                peName=#{peName},
            </if>
            <if test="peCourse!=null">
                peCourse=#{peCourse},
            </if>
            <if test="peAchievement!=null">
                peAchievement=#{peAchievement},
            </if>
            <if test="peInfo!=null">
                peInfo=#{peInfo},
            </if>
            <if test="peState!=null">
                peState=#{peState}
            </if>
        </set>
        <where>
            peId=#{peId}
        </where>
    </update>

    <!--删除所选学生的成绩-->
    <delete id="deletePerformance" parameterType="list">
        delete
        from
        performance
        where
        peId
        in
        <foreach collection="list" item="ids" separator="," open="(" close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>