<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.edu.pojo.Roles">
        <id property="roleId" column="roleId"/>
        <result property="roleName" column="roleName"/>
    </resultMap>
    <sql id="role_colums">
          roleId,
          roleName
    </sql>
</mapper>